<template name="login">
    <form id="login-form" class="login">
        <div class="form-group">
        <label for="login-email">Email address</label>
        <input type="email" class="form-control" id="login-email" name="email" placeholder="Email address" required>
      </div>
      <div class="form-group">
         <label for="login-pass">Password</label>
         <input type="password" class="form-control" id="login-pass" name="password" placeholder="Password" required>
         <div class="help-block text-right forgot-pass"><a>Forgot the password?</a></div>
      </div>
      <div class="form-group">
         <button type="submit" class="btn btn-default btn-block">Sign in</button>
      </div>
   </form>
</template>