<template name="login">
    <p> Login via </p>
    <div class="social">
      <a id="fb-login" href="#" class="btn btn-block btn-social btn-facebook"><i class="fa fa-facebook"></i> Facebook</a>
      <a id="google-login" href="#" class="btn btn-block btn-social btn-google"><i class="fa fa-google"></i> Google</a>
    </div>
    <p> or </p>
    <form id="login-form" class="login">
      <div class="form-group">
        <label for="login-email">Email address</label>
        <input type="email" class="form-control" id="login-email" name="email" placeholder="Email address" required>
      </div>
      <div class="form-group">
         <label for="login-pass">Password</label>
         <input type="password" class="form-control" id="login-pass" name="password" placeholder="Password" required>
         <div class="help-block text-right forgot-pass"><a>Forgot the password?</a></div>
      </div>
      <div class="form-group">
         <button type="submit" class="btn btn-default btn-block" data-toggle="collapse" data-target=".navbar-collapse.in">Sign in</button>
      </div>
   </form>
</template>