<template name="navigation">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="{{pathFor route='home'}}">City-Events</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="{{pathFor route='home'}}">Home</a></li>
          {{#if isInRole 'organizer'}}
            <li><a href="{{pathFor route='add'}}">Add event</a></li>
            <li><a href="{{pathFor route='myEvents'}}">My events</a></li>
          {{/if}}
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {{#if currentUser}}
            <li> <a href="{{pathFor route='profile'}}"> Logged in as {{currentUser.emails.[0].address}} </a></li>
            <li> <a href="#" class="logout"> Logout </a> </li>
          {{else}}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Login</b> <span class="caret"></span></a>
              <ul id="login-dp" class="dropdown-menu auth">
                <li>
                  {{> login}}
                </li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Register</b> <span class="caret"></span></a>
              <ul id="register-dp" class="dropdown-menu auth">
                <li>
                  {{> register}}
                </li>
              </ul>
            </li>
          {{/if}}
        </ul>
      </div>
    </nav>
</template>