<template name="navigation">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="{{pathFor route='home'}}">City-Events</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="{{pathFor route='home'}}">Home</a></li>
          {{#if isInRole 'organizer'}}
            <li><a href="{{pathFor route='add'}}">Add event</a></li>
          {{/if}}
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {{#if currentUser}}
            <li> <a href="#"> Logged in as {{currentUser.emails.[0].address}} </a></li>
            <li> <a href="#" class="logout"> Logout </a> </li>
          {{else}}
            <li><a href="{{pathFor route='login'}}">Login</a></li>
            <li><a href="{{pathFor route='register'}}">Register</a></li>
          {{/if}}
        </ul>
      </div>
    </nav>
</template>