#template-password-strength {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
}

#template-password-strength li {
    list-style: none;
    flex-grow: 1;
    height: 5px;
    margin: 2%;
}