<template name="register">
    <form id="register-form" class="register">
        <div class="form-group">
        <label for="register-email">Email address</label>
        <input type="email" class="form-control" id="register-email" name="email" placeholder="Email address" required>
      </div>
      <div class="form-group">
         <label for="register-pass">Password</label>
         <input type="password" class="form-control" id="register-pass" name="password" placeholder="Password" required>
      </div>
      <div class="form-group">
        <label for="register-organizer">Are you an organizer?</label>
        <input type="checkbox" id="register-organizer">
      </div>
      <div class="form-group">
         <button type="submit" class="btn btn-default btn-block">Register</button>
      </div>
   </form>
</template>