.location {
    clear: both;
    float: left;
}
.date {
    float: left;
}
.imgPlaceholder {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    color: green;
    font-size: 80px;
    font-family: 'Pacifico', cursive;
    padding: 30px;
    background-color: #e1e1ea;
}
.event-box {
    background-color: #f0f0f0;
    word-wrap: break-word;
    white-space: normal;
    height:175px;
}
.events-container {
    width: 90%;
    margin: 0px auto;
}