<template name="showEvents">
    {{#if eventRows.length}}
        {{#each eventRows}}
            {{> eventRow}}
        {{/each}}
    {{else}}
        <p> There are currently no registered events </p>
    {{/if}}
</template>

<template name="eventRow">
    <div class="row">
        {{#each row}}
            {{> eventCell}}
        {{/each}}
    </div>
    <div class="clearfix visible-sm"></div>
</template>

<template name="eventCell">
    <div class="event-box btn btn-default well col-md-3 col-sm-6 col-xs-12">
        <h3 class="text-center"> {{name}} </h3>
        <p class="date"> {{formatDate startDate}} </p>
        <p class="location"> {{location}} </p>
        <div class="clearfix"> </div>
        <!-- <br />
        {{#if imgUrl}}
            <img class="img-responsive event-image" src="{{imgUrl}}" />
        {{else}}
            <div class="text-center imgPlaceholder"> E </div>
        {{/if}} -->
    </div>
</template>