<template name="showEvents">
    <div class="container events-container">
        {{#if eventRows.length}}
            {{#each eventRows}}
                {{> eventRow}}
            {{/each}}
        {{else}}
            <p> There are currently no registered events on current filter </p>
            {{#if popularLabels.length}}
                <p> Popular labels: {{popularLabels}}</p>
            {{/if}}
        {{/if}}
    </div>
</template>

<template name="eventRow">
    <div class="row">
        {{#each row}}
            {{> eventCell}}
        {{/each}}
    </div>
    <div class="clearfix visible-sm"></div>
</template>

<template name="eventCell">
    <div class="event-box btn btn-default well col-md-3 col-sm-6 col-xs-12">
        <div class="col-xs-12">
            <h4 class="text-center"> {{shortenName name}} </h4>
            <p class="date"> {{formatDate startDate}} </p>
            <p class="location"> {{shortenLocation location}} </p>
            <div class="clearfix"> </div>
            <!-- <br />
            {{#if imgUrl}}
                <img class="img-responsive event-image" src="{{imgUrl}}" />
            {{else}}
                <div class="text-center imgPlaceholder"> E </div>
            {{/if}} -->
        </div>
    </div>
</template>