#profile {
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#profile table {
    margin-top: 10px;
    font-size: 18px;
}

#profile .table > tbody > tr:first-child > td {
    border: none;
}

#profile .tabs {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 30%;
    height: 350px;
}

#profile .tabs button {
    display: block;
    background-color: inherit;
    color: black;
    height: 50px;
    padding: 0 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}

#profile .tabs button:hover {
    background-color: #ddd;
}

#profile .tabs button.active {
    background-color: #ccc;
}

#profile .tab-content {
    float: left;
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 70%;
    border-left: none;
    height: 350px;
}

#profile .tab-content h3 {
    float: left
}

#profile .clear {
    clear: both;
}

#profile form label:not(.error) {
    float: left;
    margin-top: 5px;
    margin-right: 5px;
    width: 100px;
    text-align: left;
}

#profile form input {
    width: 200px;
    height: 30px;
}

#profile form button[type=submit] {
    float: left;
}

#profile h1 {
    margin-bottom: 30px;
}

#profile #password-strength {
    width: 200px;
    margin-left: 105px;
    margin-top: 3px;
}

#profile #change-pass {
    width: 400px;
}

#profile #link-social a {
    margin-bottom: 10px;
}

